header, nav, main, footer {
	display: block;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #2F1C1E;
	color: #542C1B;
	font-family: Verdana, Arial, sans-serif;
}

footer {
	background-color: #AFAEB4;
	font-size: .6em;
	font-style: italic;
	text-align: center;
	padding: 1em;
}

.red {
	color: red;
}

#wrapper {
	background-color: #FDFDFD;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}