header, nav, main, footer {
	display: block;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #7B568F;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
}

footer {
	background-color: #E6E7E2;
	font-size: .6em;
	font-style: italic;
	text-align: center;
	padding: 1em;
}

.red {
	color: red;
}

#wrapper {
	background-color: #FFFFFF;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}