body {
	font-family: Arial, Helvetica, sans-serif;
	color: orange;
	background-color: green;
}

#wrapper {
	width: 960px;
	margin: auto;
	background-color: blue;
	box-shadow: 2px 2px 2px black;
}

#prompt {
	width: 960px;
	height: 300px;
	margin: auto;
	background-color: gray;
	box-shadow: 2px 2px 2px black;
}

#prefEmail, #prefPhone {
	display: inline;
	width: 20px;
	height: 12px;
	color: black;
}

header {
	width: 960px;
}

h1{
	font-size: 36px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-style: italic;
}

main {
	background-color: white;
	padding: 10px;
}

h2 {
	font-size: 24px;
	color: yellow;
}

footer {
	clear: right;
	color: gray;
	text-align: center;
	width: 100%;
	padding: 5px 0;
}


